<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Passw0rd!</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="title-wrapper" id="title-wrapper">
  <p id="title" class="title">{{ title }}</p>
  <img alt="Image failed to load :(" ngSrc="logo.svg" id="logo" class="logo" width="128" height="128">
</div>
<div class="wrapper">
  <div id="gen-pass" class="gen-pass" (click)="generatePassword()">Generate</div>
  <div id="copy-pass" class="copy-pass" (click)="copyPassword()">Copy</div>
  <textarea disabled id="gen-pass-out" class="gen-pass-out" style="resize: none;" [value]="password"></textarea>
  <input type="number" id="password-length" name="password-length" min="10" max="100" [(ngModel)]="passwordLength">
</div>
</body>
</html>
